.nav {
    background-color: #d1568d;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.nav-logo {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-logo img {
    width: 90px;
    height: 35px;
}

.nav-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #a43d67;
}
